$teal: rgba(81, 222, 209, 1);
$dark_blue: rgba(16, 32, 53, 1);
$darkgray: rgb(169, 169, 169);
$white: rgb(255, 255, 255);
$powder_blue: rgb(222, 233, 240, 1);
$black: black;
$dark_blue: #101B3E;
$esmerald: #015765;