.about {
    margin-top: 24px;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.about_text p {
    text-align: justify;
    font-size: 24px;
}

#first_anouncement {
    text-align: center;
}

.welcom_image {
    margin: 10px;
}

.image_container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .about_text p {
        font-size: 20px;
    }

    .welcom_image {
        width: 100%;
        height: auto;
    }

    .about_text p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .about_text p {
        width: 100%;
        font-size: 16px;
    }

    .welcom_image {
        width: 100%;
        height: auto;
    }

    .about_text p {
        font-size: 18px;
    }
}