
.action_text {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media screen and (max-width: 1000px) {
    .action_image {
        height: 600px;
    }
}

@media screen and (max-width: 480px) {
    .action_image {
        height: 400px;
    }
}