.action_card {
    // background-image: url('../public/assets/action_background.png');
    // background-attachment: cover;
    // background-size: 100% 100%;
    position: reletive;
}

.action_text {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    position: absolute;
    bottom: 40px;
}

@media screen and (max-width: 1000px) {
    .action_image {
        height: 600px;
    }
}

@media screen and (max-width: 480px) {
    .action_image {
        height: 400px;
    }
}