@import './colors';

.advertising {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: flex;
    flex-flow: column;
    width: 45%;
    left: 700px;
    justify-content: center;
    gap: 20px;
}

.paragraph {
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 600;
    line-height: 1.15;
}

.action_card_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.gift {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-image: url('https://i.postimg.cc/0jHB23x9/Screenshot-3.png');
    background-position: contain center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    padding: 5%;
    background-attachment: fixed;
}

.promo {
    display: flex;
    justify-content: center;
    color: $dark_blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
}


.colored_marker_list li {
    color: $esmerald;
    margin: 3%;
    line-height: 1;
}

.colored_marker_list li span {
    color: $esmerald;
}

.gift_image {
    border: 10px solid white;
}

.action_image {
    margin: 0 auto 20px auto;
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://i.postimg.cc/yx835qd8/action-1.png');
    background-size: cover;
}

.link {
    text-decoration: none;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    max-width: 200px;
    background-color: #F2F4F3;
    padding-bottom: 10px;

}

.link a {
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    font-size: 1.3rem;

}

@media screen and (min-width: 1300px) {
    .gift {
        background-size: cover;
        height: auto;

    }
}

@media screen and (max-width: 1000px) {
    .overlay {
        left: 360px;
        top: 50px;
        width: 60%;
    }

    .paragraph {
        font-size: 22px;
    }


    .colored_marker_list li {
        margin: 0.5%;

    }

    .gift {
        background-size: contain center;
        height: auto;

    }

    .action_image {
        background-size: contain center;
        margin-left: 1%;
        width: 98%;
    }

}

@media screen and (max-width: 840px) {

    .action_image {
        background-size: contain center;
        height: 50vw;
        width: 98%;
    }

}

@media screen and (max-width: 500px) {
    .overlay {
        left: 40px;
        top: 100px;
        width: 90%;
        gap: 0;
    }

    .paragraph {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1;
        border: none;

    }

    .overlay a {
        font-size: 1.1rem;
    }

    .link {
        max-width: 180px;
    }

    .banner {
        margin-top: 10px;
    }

    .gift {
        justify-content: center;
        background-size: contain;
        background-position: cover;
        height: auto;
    }

    .action_image {
        background-size: contain;
        background-position: center;
        background-image: url('https://i.postimg.cc/2y0znrJQ/action-board-small.png');
        width: 100%;
        height: 50vw;
    }

    .colored_marker_list li {
        margin: 5px;

    }

    .colored_marker_list li span {
        font-size: 10px;
        line-height: 1;

    }

    .colored_marker_list {
        margin-top: -8px;
    }

    .gift_image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 368px) {

    .paragraph,
    .link a {
        font-size: 1rem;
    }

    .link a {
        white-space: nowrap;
    }
}

@media screen and (max-width: 320px) {
    .colored_marker_list li span {
        font-size: 8px;
    }
}