.admin_button {
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 2.5px 3px 4px 1px rgba(215, 215, 215, 0.5);
    border-radius: 5px;
    width: 6rem;
    margin: 0 1rem;
}