.ArticlesSlider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
    margin-bottom: 18%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    // gap: clamp(10px, 5vh, 40px)
}

.article_content {
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card_wrapper {
    -webkit-box-shadow: 5px 6px 8px 1px rgba(63, 58, 58, 0.5);
    -moz-box-shadow: 5px 6px 8px 1px rgba(63, 58, 58, 0.5);
    box-shadow: 5px 6px 8px 1px rgba(63, 58, 58, 0.5);
    width: 100%;
    max-height: 140px;
    min-height: 140px;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    animation: vertical 30s linear infinite;
    opacity: 0;
    will-change: transform, opacity;
    position: absolute;
}

.image_wrapper {
    width: 100%;
}

.card_wrapper:nth-child(1) {
    animation-delay: calc(3s * -1);
}

.card_wrapper:nth-child(2) {
    animation-delay: calc(3s * 0);
}

.card_wrapper:nth-child(3) {
    animation-delay: calc(3s * 1);
}

.card_wrapper:nth-child(4) {
    animation-delay: calc(3s * 2);
}

.card_wrapper:nth-child(5) {
    animation-delay: calc(3s * 3);
}

.card_wrapper:nth-child(6) {
    animation-delay: calc(3s * 4);
}

.card_wrapper:nth-child(7) {
    animation-delay: calc(3s * 5);
}

.card_wrapper:nth-child(8) {
    animation-delay: calc(3s * 6);
}

.card_wrapper:nth-child(9) {
    animation-delay: calc(3s * 7);
}

.card_wrapper:nth-child(10) {
    animation-delay: calc(-3s * 2);
}

.image {
    height: 150%;
    border: none;
    border-radius: 5px;
    width: 220px;
}

.text_wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}


@keyframes vertical {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }

    3%,
    10% {
        transform: translateY(100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    13%,
    20% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
        z-index: 100;
    }

    23%,
    30% {
        transform: translateY(-100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    33% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}


@media screen and (max-width: 932px) {
    .ArticlesSlider {
        margin-bottom: 30%;
        margin-top: 30%;
    }
}

@media screen and (max-width: 550px) {
    .ArticlesSlider {
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .text_wrapper {
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
    }
        .image {
            height: 120%;
            border: none;
            border-radius: 5px;
            width: 180px;
        }
}