.doctor_person {
    margin: 20px auto;
    background-color: white;
    border: 24px;
    transition: transform 0.3s ease;
}

.doctor_person:hover {
    cursor: pointer;
    transform: scale(1.02);
}