/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
        -webkit-user-select: none;
            /* Safari */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE/Edge */
            user-select: none;
            /* Standard */
            /* background-color: rgba(248,247,242,0.1); */
                    overflow: auto !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.rc-anchor-pt {
    text-align: center;
}