.active {
    text-decoration: underline;
}
.login_button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: darkgray;
    margin-right: 12%;
    gap: 30px;
}
.useful {
    color: darkgray;
    font-size: 32px;
}

.admin_menu {
    color: darkgray;
}
.navbar {

}