.service_wrapper {
    margin: auto;
    padding: auto;

    .services_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: space-between;
        width: 100%;
        gap: 40px;
        margin-top: 12px;
    }
}

.order_ring {
    position: fixed;
    top: 50%;
    left: 80px;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
    background-color: #51DED1;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
}
