.service_wrapper {
    margin: auto;
    padding: auto;

    .services_list {
        .service_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.carousel_indicator {
    
}

.order_ring {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: #45F3F4;
    border-radius: 50%;
    border: none;
}

@media screen and (max-width: 768px) {
    .img {
        height: 600px;
    }
    
}

@media screen and (max-width: 500px) {
    .img {
        height: 400px;
    }

}