.service_wrapper {
    margin: auto;
    padding: auto;

    .services_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: space-between;
        width: 100%;
        gap: 40px;
        margin-top: 12px;
    }
}

.order_ring {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: #51DED1;
    border-radius: 50%;
    border: none;
}