.service_item {
    background-color: white;
    border: 24px;
    transition: transform 0.3s ease;
    color: #51DED1;
    margin: auto;
}

.service_item:hover {
    cursor: pointer;
}

.admin_link {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .service_default_item {
        min-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .service_default_item {
        min-width: 90%;
    }
}