.directions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}
.direction_card {
    box-shadow: 0 0 2px 2px rgba(200, 200, 200, 0.5);
    min-height: 155px;
}
@media screen and (max-width: 1400px) {
    .image_subservice {
        height: 300px;
        width: 320px;
    }
}

@media screen and (max-width: 1068px) {
    .image_subservice {
        height: 270px;
        width: 320px;
    }
}
@media screen and (max-width: 768px) {
    .image_subservice {
        height: 270px;
    }
}

@media screen and (max-width: 460px) {
    .image_subservice {
        height: 250px;
        width: 290px;
    }
}