.directions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}

.direction_card {
    box-shadow: 2.5px 3px 4px 1px rgba(215, 215, 215, 0.5);
    min-height: 155px;
}

.image_subservice {
    float: left;
    border-radius: 50%;
    margin-right: 2%;
    shape-outside: circle(50%);
}

@media screen and (max-width: 1400px) {
    .image_subservice {
        height: 300px;
        width: 320px;
    }
}

@media screen and (max-width: 1068px) {
    .image_subservice {
        height: 305px;
        width: 320px;
    }
}

@media screen and (max-width: 768px) {
    .image_subservice {
        width: 300px;
        margin-right: 4%;
    }
}

@media screen and (max-width: 540px) {
    .text_article {
        display: flex;
        flex-flow: column;
        justify-content: center;
        box-shadow: 2.5px 3px 4px 1px rgba(215, 215, 215, 0.5);
        padding: 2%;
    }

    .image_subservice {
        margin-right: none;
        margin: auto;
        float: none;
        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    }
}

@media screen and (max-width: 460px) {
    .text_article {
        display: flex;
        flex-flow: column;
        justify-content: center;
        box-shadow: 2.5px 3px 4px 1px rgba(215, 215, 215, 0.5);
        padding: 2%;
    }
    .image_subservice {
        height: 270px;
        width: 290px;
    }
}