.user_review_form {
    margin: 12px auto;
    border: 0.5px solid gray;
}

.autosize {
    height: auto;
    overflow-y: auto;
}

@media (max-width: 500px) {
    .autosize {
        max-height: 200px;
        overflow-y: auto;
    }
}