.welcom_container {
    h1 {
        text-align: center;
        padding: 0.1%;
    }

    .content {
        margin: auto;

        .image_container {
            padding: 2%;
            width: 100%;
            margin: auto;
        }

        .image {
            width: 100%;
            margin: auto;
            aspect-ratio: 2/1;
            object-fit: contain;
        }

        .welcom_wrapper {
            margin: auto;
            padding: 2%;
            width: 100%;
            z-index: 100;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .aside {
            display: flex;
            flex-flow: column;
            gap: 2%;

            li {
                list-style: none;
                padding: 10px 0;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .text {
            flex: 65%;
            text-indent: 26px;
            font-size: 24px;
            text-align: justify;
            padding: 0 2.5%;
        }

    }
}

@media screen and (max-width: 1320px) {
    .image {}
}

@media screen and (max-width: 940px) {
    .content {
        .welcom_wrapper {
            .text {
                font-size: 18px;
            }
        }

        .image {
            height: 380px;
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        .welcom_wrapper {
            .text {
                font-size: 18px;
            }
        }

        .image {}
    }
}

@media screen and (max-width: 550px) {
    .content {
        .welcom_wrapper {
            .text {
                font-size: 14px;
                max-height: 700px;
                overflow-y: scroll;
            }
        }

        .image {
            object-fit: contain;
            height: 150px;
        }
    }
}

@media screen and (max-width: 420px) {
    .content {
        .welcom_wrapper {
            .text {
                font-size: 14px;
            }
        }

        .image {
            height: 200px;
        }
    }
}